
#divjs
{

	width: 20%;
	height: 100%;
	background-color: white;
	position: absolute;
	top: 0px;
	left: 0px;
	border: solid;
}
ul
{
	list-style: circle;
	list-style-position: inside;
}

#buttonhs
{

	position: absolute;
	top:95%;
	left:60px;
}
body
{

	background:url(/src/pic/2.jpg);
	position: relative;
}

@-webkit-keyframes ani
{
	/* %*time line*/
		0%
		{
		position:relative; 
		left:150px; 
		top:150px; 
		background:red;
		width:200px;
		height:240px;

		}
		50%
		{
		position:relative; 	
		left:250px; 
		top:250px; 
		background:yellow;
		width:300px;
		height:380px;
		-webkit-transform:rotateZ(130deg);
		}

		100%
		{
		position:relative; 
		left:450px; 
		top:450px; 
		background:green;
		width:400px;
		height:450px;
		-webkit-transform:rotateZ(60deg);
		}
		
}


.ltoggle
{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	left: 85%;
}


#topbar
{

	width: 79%;
	height: 30%;
	position: absolute;
	top: 0%;
	left: 20%;
}
.index,.about,.hr,.map
{
	color: purple;
	overflow: hidden;
	text-align: center;
}
.index
{
	width: 25%;
	height: 20%;
	
	position: absolute;
	top: 0;
	left: 0;
	
	
}

.about
{
	width: 25%;
	height: 20%;
	
	position: absolute;
	top: 0;
	left: 25%;
}
.hr
{
	width: 25%;
	height: 20%;
	
	position: absolute;
	top: 0;
	left: 50%;
}
.map
{
	width: 25%;
	height: 20%;
	
	position: absolute;
	top: 0;
	left: 75%;
}
.imagearea
{
	position: absolute;
	left: 20%;
	top: 20%;
	width: 80%;
	height: 60%;
	background-image: url(../src/pic/2.jpg);
	overflow: hidden;
}

.inputform
{
	position: absolute;
	left: 49%;
	top: 90%;
}
